* {
 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.Home {

  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 20px;
}
.container {
  
  position: relative;
}

.background-wrapper {
  transition: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.1;
  z-index: -1;
}